<launch>

    <!-- INPUT ARGUMENTS -->
    <!-- If to use the robot or not (useful for debugging) -->
    <arg name="use_robot" default="false"/>
    <!-- If to use the aruco stuff or not -->
    <arg name="use_aruco" default="false"/>
    <!-- If to use the speech to text or not -->
    <arg name="use_tts" default="false"/>
    <!-- If to use the text to speech or not -->
    <arg name="use_stt" default="false"/>
    <!-- If to use rosbridge server or not -->
    <arg name="use_rosbridge" default="true"/>
    <!-- If to use baxter_display or not -->
    <arg name="use_baxter_display" default="true"/>
    <!-- print level (shared throughout the control code) -->
    <arg name="print_level" default="3"/>
    <!-- Name of the file that contains the task in json format -->
    <arg name="json_file" default="$(find rpi_integration)/tests/out/full_chair_natural_name.json" />
    <!-- If to autostart control or to wait for an utterance from the user -->
    <arg name="autostart" default="false" />
    <!-- Disable some stuff if running tests -->
    <arg name="testing" default="true" />
    <!-- Determines whether face tracking overlay is displayed -->
    <arg name="show_screen" default="true" />
    <!-- Determines threshold (btwn 0 and 1) for determining if a face has been recognized -->
    <arg name="conf_value" default="0.7" />
    <!-- If to send/recieve messages to OntoSem -->
    <arg name="use_ontosem_comms" default="true"/>
    <!--If to use face recognition (otherise simulates its use)-->
    <arg name="use_face_rec" default="true"/>


    <!-- ROS PARAMETERS -->
    <param name="rpi_integration/autostart"         value="$(arg autostart)"/>
    <param name="rpi_integration/use_stt"           value="$(arg use_stt)"/>
    <param name="rpi_integration/testing"           value="$(arg testing)"/>
    <param name="rpi_integration/use_ontosem_comms" value="$(arg use_ontosem_comms)"/>
    <param name="rpi_integration/use_face_rec"      value="$(arg use_face_rec)"/>

    <param name="~confidence_value" type="double" value="$(arg conf_value)" />
    <param name="~show_screen_flag" value="$(arg show_screen)"/>

    <rosparam param="rpi_integration/all_faces">
      "[Jake]"
    </rosparam>

    <!-- NODES -->
    <include file="$(find human_robot_collaboration)/launch/chair_task.launch" >
        <arg name="use_robot"          value="$(arg use_robot)"/>
        <arg name="use_aruco"          value="$(arg use_aruco)"/>
        <arg name="use_tts"            value="$(arg use_tts)"/>
        <arg name="use_stt"            value="$(arg use_stt)"/>
        <arg name="use_rosbridge"      value="$(arg use_rosbridge)"/>
        <arg name="use_baxter_display" value="$(arg use_baxter_display)"/>
        <arg name="print_level"        value="$(arg print_level)"/>
    </include>
    

    <include file="$(find rpi_integration)/launch/face_recognition_utils.launch" if="$(arg use_face_rec)">
        <arg name="show_screen"          value="$(arg show_screen)"/>
        <arg name="conf_value"           value="$(arg conf_value)"/>

      </include>

    <node pkg="rpi_integration" type="ontosem_controller.py" name="ontosem_controller" output="screen"/>


</launch>
